body {
    background-color: #B5EAEA;
}
hr {
    /* background-color: white; no need because 
    we reduced the line size to zero so we are
    actually using its borders*/ 
    border-style: dotted none none; /*check notes*/
    /* or border-top-style: dotted; */
    border-color: gray;
    border-width: 7px;
    width: 4%;
}
@font-face {
    font-family: "precious";
    src: url(font/Precious.ttf);
}/* it's just simple as this to create a custom font and 
include it before you want using the fontface and wolla you 
got it*/
h1{
    color: #32502E;
    font-family: "precious";
}
h3{
    color: #66bfbf;
}

img:hover {
    background-color: gold;
}

h1:hover {
    color: orange;
}

h3:hover {
    color: orangered;
}

/******************** CLASS Selectors ************************/
/* used everywhere you can use more words in a single "" of a 
class*/
.cooked-rice {
    background-color: rgb(58, 117, 58);
}

.sheaf-of-rice {
    background-color: rgb(0, 132, 255);
}

.curry-rice {
    background-color: rgb(179, 111, 48);
}

.circular {
    border-radius: 100%; /*to provide a circular border*/
}
/******************** ID Selectors **************************/
/* rarely used use cannot repeat the same words and cannot include
more than one word in "" of a class*/

#chumma {
    color: purple;
}














