body {
    background-color: #B5EAEA;
}
hr {
    /* background-color: white; no need because 
    we reduced the line size to zero so we are
    actually using its borders*/ 
    border-style: dotted none none; /*check notes*/
    /* or border-top-style: dotted; */
    border-color: gray;
    border-width: 7px;
    width: 4%;
}
@font-face {
    font-family: "precious";
    src: url(font/Precious.ttf);
}/* it's just simple as this to create a custom font and 
include it before you want using the fontface and wolla you 
got it*/
h1{
    color: #32502E;
    font-family: "precious";
}
h3{
    color: #66bfbf;
}